@import "variable.scss";
.appbaseSearchComponent.reactiveComponent {
	.Select-control {
		border: 0;
		font-weight: bold;
		font-family: $font-bold-i;	
		background: darken($bg-grey, 2%);
		.Select-arrow-zone {
			position: absolute;
			right: 5px;
			top: 5px;
			.Select-arrow {
				border: 0;
				width: 30px;
				height: 30px;
				color: $blue;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				&:before {
				  content: "\f002";
				}
			}
		}
	}
	.Select-placeholder, 
	.Select-control,
	.appbase-select.Select--single>.Select-control .Select-value {
		padding-right: 30px;
	}
	.Select-input input {
		height: 20px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
}
