@import "variable.scss";
.listComponent.reactiveComponent {
	overflow: hidden;
	height: 400px;
	margin: 5px;
	padding: 0;
	position: relative;
	background: #fff;
	.listContainer {
		height: 100%;
		overflow: auto;
		.listItem {
			a {
				padding: 5px 10px;
				display: block;
				color: $dark-grey;
				&.active {
					color: $blue;
					font-weight: bold;
				}
			}
			&:first-child {
				margin-top: 10px;
			}
			&.checkboxItem {
				padding: 5px 10px;
				label {
					font-weight: normal;
				}
			}
		}
	}	

	.tagItem {
		background: $blue;
		color: #fff;
		font-size: 12px;
		line-height: 16px;
		padding: 4px 8px;
		border-radius: 6px;
		display: inline-block;
		margin: 5px;
		span {
			float: left;
		}
		.close {
			padding-left: 10px;
			line-height: 10px;
			cursor: pointer;
			font-weight: 700;
		}
	}
	.componentTitle {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
	.staticSearchContainer.inputBox {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
	}
	&.staticSearch-true {
		padding-top: 50px;
		&.title-true {
			padding-top: 100px;
			.staticSearchContainer {
				top: 50px;
			}
		}
	}
	&.title-true {
		padding-top: 50px;
	}
}
