@import "variable.scss";
.listComponent {
	overflow: hidden;
    height: 400px;
    margin: 5px;
    position: relative;
    background: #fff;
	.componentTitle {
		font-size: 20px;
	}
	.listContainer {
	    height: 100%;
		overflow: auto;
		.listItem {
			a {
				padding: 5px;
				display: block;
				color: $dark-grey;
				&.active {
					color: $blue;
					font-weight: bold;
				}
			}
			&:first-child {
				margin-top: 10px;
			}
		}
	}	
	.staticSearchContainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 0;
		padding-right: 50px;
		background: darken($bg-grey, 2%);
		input {
			border: 0;
			margin: 0;
			font-weight: bold;
			font-family: $font-bold-i;
			width: 100%;
		}
		.add-on {
			position: absolute;
			right: 15px;
    		top: 12px;
    		color: $blue;
		}
	}
	&.staticSearch-true {
		padding-top: 50px;
		&.title-true {
			padding-top: 100px;
		}
	}
	&.title-true {
		padding-top: 50px;
	}
}