@import "variable.scss";
.m-0 {
	margin: 0;
}

.p-0 {
	padding: 0;
}

.p-1 {
	padding: 1em;
}

.p-2 {
	padding: 2em;
}

.p-3 {
	padding: 3em;
}

.p-tb-1 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.p-l-1 {
	padding-left: 1em;
}

.p-l-2 {
	padding-left: 2em;
}

.p-l-3 {
	padding-left: 3em;
}

.p-r-1 {
	padding-right: 1em;
}

.p-r-2 {
	padding-right: 2em;
}

.p-r-3 {
	padding-right: 3em;
}

.p-t-0 {
	padding-top: 0;
}

.p-t-1 {
	padding-top: 1em;
}

.p-t-2 {
	padding-top: 2em;
}

.p-t-3 {
	padding-top: 3em;
}

.p-b-1 {
	padding-bottom: 1em;
}

.p-b-2 {
	padding-bottom: 2em;
}

.p-b-3 {
	padding-bottom: 3em;
}

.p-t-2 {
	padding-top: 2em;
}

.m-t-0 {
	margin-top: 0;
}

.m-t-1 {
	margin-top: 1em;
}

.m-b-1 {
	margin-bottom: 1em;
}

.m-t-2 {
	margin-top: 2em;
}

.m-t-3 {
	margin-top: 3em;
}

.gutter {
	padding: 0 1em;
}

.m-center {
	margin: 0 auto;
}

.section-pad {
	padding: 4em 0;
}

.thin-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 93.96226%;
	width: 93.96226%;
	position: relative;
	&.stretch {
		max-width: 4000px;
	}
}

.wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
	width: 93.96226%;
	position: relative;
	&.stretch {
		max-width: 4000px;
	}
}

.primary-title {
	color: $primary-color;
}

.red-color {
	color: $red;
}

a {
	cursor: pointer;
}

// Fonts
html,
body {
	font-size: 16px;
	line-height: 22px;
	font-family: $font-regular;
	background: $bg-grey;
	@media screen and (max-width: 1024px) {
		font-size: 14px;
		line-height: 20px;
	}
}

.font-0 {
	font-size: $font-size-0;
	line-height: $line-height-0;
}

.font-1 {
	font-size: $font-size-1;
	line-height: $line-height-1;
}

.font-2 {
	font-size: $font-size-2;
	line-height: $line-height-2;
}

.font-3 {
	font-size: $font-size-3;
	line-height: $line-height-3;
}

.font-3.primary {
	font-size: $font-size-3;
	line-height: $line-height-3;
	color: $primary-color;
}

.font-4 {
	font-size: $font-size-4;
	line-height: $line-height-4;
}

.font-5 {
	font-size: $font-size-5;
	line-height: $line-height-5;
}

.font-6 {
	font-size: $font-size-6;
	line-height: $line-height-6;
}

.font-7 {
	font-size: $font-size-7;
	line-height: $line-height-7;
}

.font-8 {
	font-size: $font-size-8;
	line-height: $line-height-8;
}

.font-bold {
	font-family: $font-bold;
}

.font-semi-bold {
	font-family: $font-semi-bold;
}

.font-italic {
	font-family: $font-italic;
}

.font-light {
	font-family: $font-light;
}

.font-grey {
	color: $grey;
}

.font-dark-grey {
	color: $dark-grey;
}

.l-s-1 {
	letter-spacing: 1px;
}

.l-s-2 {
	letter-spacing: 2px;
}

.l-s-3 {
	letter-spacing: 3px;
}

.l-s-4 {
	letter-spacing: 4px;
}

.l-s-5 {
	letter-spacing: 5px;
}

// Others
.i-b {
	display: inline-block;
}
.reactiveComponent {
	margin: 5px;
	background: #fff;
	padding: 15px;
	.componentTitle {
		font-size: 20px;
		padding: 10px;
		line-height: 30px;
		font-weight: bold;
		font-family: $font-bold;
		color: $dark-grey;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin: 0;
	}
	.inputBox {
		position: relative;
		padding-right: 50px;
		background: darken($bg-grey, 2%);
		input {
			border: 0;
			margin: 0;
			font-weight: bold;
			font-family: $font-bold-i;
			width: 100%;
		}
		.add-on {
			position: absolute;
			right: 15px;
			top: 12px;
			color: $blue;
		}
	}
}
