@import "source.scss";
$primary-color: #FF9800;
$light-color: #FFE0B2;
$page-navbar-color: #F57C00;
$primary-font-color: #212121;
$secondary-font-color: #727272;
$grey: #999;
$dark-grey: #777;
$blue: #1893e7;
$bg-grey: #fafafa;
$border-grey: rgba(0, 0, 0, 0.12);
$primary-blue-color: #1893e7;
$light-blue-color: #a3d4f5;
$red: rgb(255, 87, 34);
$green: #4CAF50;
$color6: rgba(0, 0, 0, 0.60);
$font-size-0: 4.5rem;
$font-size-1: 2.25rem;
$font-size-2: 2rem;
$font-size-3: 1.375rem;
$font-size-4: 1.25rem;
$font-size-5: 1.125rem;
$font-size-6: 1rem;
$font-size-7: 0.9rem;
$font-size-8: 0.8rem;
$line-height-0: 5.375rem;
$line-height-1: 2.875rem;
$line-height-2: 2.5rem;
$line-height-3: 1.75rem;
$line-height-4: 1.625rem;
$line-height-5: 1.5rem;
$line-height-6: 1.375rem;
$line-height-7: 1.25rem;
$line-height-8: 1.125rem;
$font-bold-i: "Lato Bold Italic";
$font-black: "Lato Black";
$font-black-i: "Lato Black Italic";
$font-semi-bold-i: "Lato Semibold Italic";
$font-extra-light: "Lato Hairline";
$font-light: "Lato Light";
$font-bold: "Lato Bold";
$font-regular: "Lato Regular";
$font-extra-light-i: "Lato Hairline Italic";
$font-light-i: "Lato Light Italic";
$font-italic: "Lato Italic";
$font-semi-bold: "Lato Semibold";
