$themes: (
	rbc-red: (color: red, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-orange: (color: orange, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-yellow: (color: yellow, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-green: (color: green, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-blue: (color: #1893e7, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-dark: (color: #ccc, background: #555, font-color: #eee, input-bg: #aaa)
);

@each $theme, $map in $themes {
	.#{$theme} {

		.rbc.rbc-geodistancedropdown,
		.rbc.rbc-geodistanceslider,
		.rbc.rbc-googlesearch {
			.Select-control {
				.Select-arrow-zone {
					.Select-arrow {
						color: map-get($map, color);
					}
				}
			}
		}

		.rbc.rbc-geodistanceslider {
			.rc-slider-track {
				background: map-get($map, color);
			}
			.rc-slider-handle {
				border-color: map-get($map, color);
			}
		}
		
		.rbc {
			background: map-get($map, background);
			
			.rbc-title {
				color: map-get($map, font-color);
			}

			.rbc-loader::after {
				border: .25rem solid rgba(map-get($map, font-color), 0.2);
				border-top-color: map-get($map, font-color);
			}

			[type="radio"]:checked+label:after,
			[type="radio"].with-gap:checked+label:before,
			[type="radio"].with-gap:checked+label:after {
				border-color: map-get($map, color);
				background-color: map-get($map, color);
			}

			.rbc-input {
				background-color: map-get($map, input-bg);
			}

			.rbc-search-icon {
				color: map-get($map, color);
			}

			label,
			[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after,
			[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
				color: map-get($map, font-color);
				border-color: map-get($map, font-color);
			}

			input:not([type]):focus:not([readonly]),
			input[type=text]:focus:not([readonly]),
			input[type=password]:focus:not([readonly]),
			input[type=email]:focus:not([readonly]),
			input[type=url]:focus:not([readonly]),
			input[type=time]:focus:not([readonly]),
			input[type=date]:focus:not([readonly]),
			input[type=datetime]:focus:not([readonly]),
			input[type=datetime-local]:focus:not([readonly]),
			input[type=tel]:focus:not([readonly]),
			input[type=number]:focus:not([readonly]),
			input[type=search]:focus:not([readonly]),
			textarea.materialize-textarea:focus:not([readonly]) {
				border-color:  map-get($map, color);
				box-shadow: 0 1px 0 0 map-get($map, color);
			}
		}

		[type="checkbox"]:checked+label:before {
			border-color: transparent;
			border-right-color: map-get($map, color);
			border-bottom-color: map-get($map, color);
		}

		a {
			color: map-get($map, font-color);
		}
	}
}

.rbc-dark .rbc.rbc-reactivemap {
	background-color: #fff;

	.rbc-title { color: #777; }
	
	[type=checkbox]:checked+label:before {
		border-color: transparent #777 #777 transparent;
	}

	label,
	[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after,
	[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
		color: #777;
		border-color: #777;
	}
}


.rbc.rbc-reactivemap {
	[type="checkbox"]+label {
		padding-left: 30px;
	}

	.rbc.rbc-poweredby {
		background-color: transparent;
		bottom: 10px;
		right: 40px;

		.rbc-img-responsive {
			&.rbc-poweredby-dark {
				display: none;
			}
			&.rbc-poweredby-light {
				display: inline-block;
			}
		}
	}
}
