.rmc.rmc-googlesearch {
	padding: 0;

	.Select-control {
		height: 38px;
	}

	.Select-input input {
		height: 16px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
}
