$componentBg: rgba(255,255,255,0.9);

.rbc.rbc-reactivemap {
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;

	.rbc-container {
		height: 700px;
	}

	.rbc-list-container {
		.row {
			margin-bottom: 0;
		}
	}

	.rbc-title {
		position: absolute;
		top: 11px;
		left: 110px;
		margin: 0;
		z-index: 4;
		background: #fff;
		display: inline-block;
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
		padding: 10px 14px;
		width: auto;
		border-radius: 2px;
		font-size: 16px;
		line-height: 18px;
		background: $componentBg;
	}

	.rbc-checkbox {
		position: absolute;
		left: 10px;
		bottom: 8px;
		padding: 5px 2px;
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
		background: $componentBg;

		.rbc-checkbox-item {
			padding: 5px 0;
			max-height: 34px;

			label {
				color: $dark-grey;
				font-weight: normal;
				line-height: 22px;
			}
		}
	}

	.rbc-mapstyles {
		position: absolute;
		top: 10px;
		right: 10px;
		margin: 0;
		z-index: 1;

		select {
			padding: 0;
			height: 34px;
			background: $componentBg;
		}
	}
}
