@import "variable.scss";
.popoverComponent {
	max-width: 250px;
	margin: 0;
	.nameContainer {
		font-size: 16px;
	}
	.img-responsive {
		max-width: 100%;
	}
	.imgContainer {
		padding: 0; 
	}
	.description {
		p {
			margin: 0;
		}
	}
}
