@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Italic';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black Italic';
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold Italic';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light Italic';
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline Italic';
  src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.appbaseSearchComponent.reactiveComponent .Select-control {
  border: 0;
  font-weight: bold;
  font-family: "Lato Bold Italic";
  background: whitesmoke; }
  .appbaseSearchComponent.reactiveComponent .Select-control .Select-arrow-zone {
    position: absolute;
    right: 5px;
    top: 5px; }
    .appbaseSearchComponent.reactiveComponent .Select-control .Select-arrow-zone .Select-arrow {
      border: 0;
      width: 30px;
      height: 30px;
      color: #1893e7;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased; }
      .appbaseSearchComponent.reactiveComponent .Select-control .Select-arrow-zone .Select-arrow:before {
        content: "\f002"; }

.appbaseSearchComponent.reactiveComponent .Select-placeholder,
.appbaseSearchComponent.reactiveComponent .Select-control,
.appbaseSearchComponent.reactiveComponent .appbase-select.Select--single > .Select-control .Select-value {
  padding-right: 30px; }

.appbaseSearchComponent.reactiveComponent .Select-input input {
  height: 20px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }
