@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Italic';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black Italic';
  src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold Italic';
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light Italic';
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline Italic';
  src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.appbaseMapComponent.reactiveComponent {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0; }
  .appbaseMapComponent.reactiveComponent .containerElement {
    height: 100%; }
  .appbaseMapComponent.reactiveComponent .componentTitle {
    position: absolute;
    top: 10px;
    left: 110px;
    margin: 0;
    z-index: 4;
    background: #fff;
    display: inline-block;
    width: auto;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    background: rgba(255, 255, 255, 0.9); }
  .appbaseMapComponent.reactiveComponent .searchAsMove {
    position: absolute;
    left: 10px;
    bottom: 15px;
    padding: 5px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.9); }
    .appbaseMapComponent.reactiveComponent .searchAsMove .checkboxItem {
      padding: 5px 10px;
      max-height: 34px; }
      .appbaseMapComponent.reactiveComponent .searchAsMove .checkboxItem label {
        color: #777;
        font-weight: normal; }
  .appbaseMapComponent.reactiveComponent .mapStyles {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0; }
    .appbaseMapComponent.reactiveComponent .mapStyles select {
      padding: 0;
      height: 34px;
      background: rgba(255, 255, 255, 0.9); }
