@font-face {
  font-family: 'Lato Regular';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Lato Black';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline';
  src: url("../../app/assets/styles/fonts/Lato/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Hairline Italic';
  src: url("../../app/assets/styles/fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.listComponent.reactiveComponent {
  overflow: hidden;
  height: 400px;
  margin: 5px;
  padding: 0;
  position: relative;
  background: #fff; }
  .listComponent.reactiveComponent .listContainer {
    height: 100%;
    overflow: auto; }
    .listComponent.reactiveComponent .listContainer .listItem a {
      padding: 5px 10px;
      display: block;
      color: #777; }
      .listComponent.reactiveComponent .listContainer .listItem a.active {
        color: #1893e7;
        font-weight: bold; }
    .listComponent.reactiveComponent .listContainer .listItem:first-child {
      margin-top: 10px; }
    .listComponent.reactiveComponent .listContainer .listItem.checkboxItem {
      padding: 5px 10px; }
      .listComponent.reactiveComponent .listContainer .listItem.checkboxItem label {
        font-weight: normal; }
  .listComponent.reactiveComponent .tagItem {
    background: #1893e7;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
    margin: 5px; }
    .listComponent.reactiveComponent .tagItem span {
      float: left; }
    .listComponent.reactiveComponent .tagItem .close {
      padding-left: 10px;
      line-height: 10px;
      cursor: pointer;
      font-weight: 700; }
  .listComponent.reactiveComponent .componentTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
  .listComponent.reactiveComponent .staticSearchContainer.inputBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0; }
  .listComponent.reactiveComponent.staticSearch-true {
    padding-top: 50px; }
    .listComponent.reactiveComponent.staticSearch-true.title-true {
      padding-top: 100px; }
      .listComponent.reactiveComponent.staticSearch-true.title-true .staticSearchContainer {
        top: 50px; }
  .listComponent.reactiveComponent.title-true {
    padding-top: 50px; }
