html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
}
.infobox {
    background: #fff;
    padding: 5px;
}
.m-0 {
  margin: 0;
}
.map-container {
  position: relative;
}
.map-container .appbase-select {
  position: absolute;
  z-index: 1;
  width: calc(100% - 114px);
  width: -moz-calc(100% - 114px);
  width: -webkit-calc(100% - 114px);
  right: 3px;
  top: 9px;
}
.appbase-select .Select-input input {
  height: 30px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.appbase-select .Select-placeholder, 
.appbase-select .Select-control,
.appbase-select .Select--single>.Select-control .Select-value {
  padding-left: 30px;
}
.appbase-select .Select-control .Select-arrow-zone {
  position: absolute;
  left: 0;
  top: 5px;
}
.appbase-select .Select-control .Select-arrow-zone .Select-arrow {
  border: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.appbase-select .Select-control .Select-arrow-zone .Select-arrow:before {
  content: "\f002";
}

.h-100 {
  height: 100%;
}
.listComponent {
  overflow: auto;
  height: 400px;
  width: 100%;
  margin: 5px;
}
.searchAsMove {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mapStyles {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}
.mapStyles select {
  padding: 0;
  height: 34px;
}
.searchAsMove .listComponent {
  height: auto;
}
.searchAsMove .listComponent > div{
  background: rgba(255, 255, 255, 0.70);
}