html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
}
.infobox {
    background: #fff;
    padding: 5px;
}
.m-0 {
  margin: 0;
}
.map-container {
  position: relative;
}
.map-container .appbase-select {
  position: absolute;
  z-index: 1;
  width: calc(100% - 114px);
  width: -moz-calc(100% - 114px);
  width: -webkit-calc(100% - 114px);
  right: 3px;
  top: 9px;
}
.Select-input input {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
.h-100 {
  height: 100%;
}